
div {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  

  h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  

  label {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 16px;
  }
  

  button {
    background-color: #2196f3;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0b7dda;
  }
  