



<!-- <div>
  <div *ngFor="let listing of listings">
    <a routerLink="/listings/{{ listing.id }}">
      <h3>{{ listing.name }}-${{ listing.price }}</h3>
    </a>
  </div>
</div> -->


<div class="container mt-5">
  <div class="row">
    <div *ngFor="let listing of listings" class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <a routerLink="/listings/{{ listing.id }}">
            <h3 class="card-title">{{ listing.name }}</h3>
            <p class="card-text">${{ listing.price }}</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> 

